<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<title>David Barajas-Solano</title>
	{{ partial "katex_includes.html" . }}
	{{ partial "head_includes.html" . }}
    </head>
    <body>
	<section id="pages">
	    {{ range $section, $pages := .Site.Sections }}
		{{ if eq $section "pages" }}
		    {{ range $pages.Pages }}
			{{ .Render "frontpageview" }}
		    {{ end }}
		{{ end }}
	    {{ end }}
	</section>
	<section id="publications">
	    <h1 id="title">Journal articles</h1>
	    {{ range $section, $pages := .Site.Sections }}
		{{ if ne $section "pages" }}
		    <ul id="list">
			{{ range $pages.Pages }}
			    {{ .Render "li"}}
			{{ end }}
		    </ul>
		{{ end }}
	    {{ end }}
	    <div>
	    </div>
	</section>
	{{ partial "foot.html" . }}
	{{ partial "katex_render_in_body.html" . }}
    </body>
</html>
