{{ partial "head_includes.html" . }}
<section id="main">
  <h1 id="title">{{ .Title }}</h1>
  <p><a href="https://doi.org/{{ .Params.DOI }}"><em>{{- .Params.DOI -}}</em></a></p>
  <section>
    <h2 id="abstract">Abstract</h2>
    {{ .Content }}
  </section>
  <section>
    <h2 id="BibTeX">BibTeX entry</h2>
    <pre><code>
@article{ {{- .Params.id}},
    title =     { {{- .Title -}} },
    author =    { {{- range $i, $e := .Params.author }}{{if $i}} and {{end}}{{- .family }}, {{ .given }}{{end -}} },
    journal =   { {{- .Params.journal -}} },
    volume =    { {{- .Params.volume -}} },
    issue =     { {{- .Params.issue -}} },
    pages =     { {{- .Params.page -}} },
    year =      { {{- .Params.year -}} },
    doi =       { {{- .Params.DOI -}} },
}
  </code></pre>
  </section>
</section>
