{{ define "title" }}
    {{ .Title }}
{{ end }}

{{ define "main" }}
    <main role="main">
	<header>
	    <h1 id="title">{{ .Title }}</h1>
	    <p><a href="https://doi.org/{{ .Params.DOI }}"><em>{{- .Params.DOI -}}</em></a></p>
	</header>
	<section id="abstract">
	    <h2 id="abstract">Abstract</h2>
	    {{ .Content }}
	</section>
	<section id="BibTeX">
	    <h2 id="BibTeX">BibTeX entry</h2>
	    <pre><code>
@article{ {{- .Params.id}},
    title =     { {{- .Title -}} },
    author =    { {{- range $i, $e := .Params.author }}{{if $i}} and {{end}}{{- .family }}, {{ .given }}{{end -}} },
    journal =   { {{- .Params.journal -}} },
    volume =    { {{- .Params.volume -}} },
    issue =     { {{- .Params.issue -}} },
    pages =     { {{- .Params.pages -}} },
    year =      { {{- .Params.year -}} },
    doi =       { {{- .Params.DOI -}} },
}
	    </code></pre>
	</section>
    </main>
{{ end }}
