{{ define "title" }}
    {{ .Title }}
{{ end }}

{{ define "main" }}
    <main role="main">
	<header>
	    <a href="/">Back Home</a>
	    <h1 id="article-title">{{ .Title }}</h1>
	    <p><a href="https://doi.org/{{ .Params.DOI }}"><em>{{- .Params.DOI -}}</em></a></p>
	</header>
	<section id="abstract">
	    <h2 id="abstract">Abstract</h2>
	    {{ .Content }}
	</section>
	<section id="BibTeX">
	    <h2 id="BibTeX">BibTeX entry</h2>
	    <pre><code>
@{{ if eq .Params.reftype "proceedings" }}inproceedings{{ else }}article{{ end }}{ {{- .Params.id}}, 
    title =     {{"{{"}}{{ with .Params.textitle }}{{- . -}}{{ else }}{{- .Title -}}{{ end  }}{{"}}"}},
    author =    { {{- range $i, $e := .Params.author }}{{if $i}} and {{end}}{{ with .family }}{{- . }}, {{ end }}{{ .given }}{{end -}} },
    {{ if eq .Params.reftype "proceedings" }}booktitle ={{ else }}journal =  {{ end }} { {{- .Params.journal -}} },{{ if .Params.volume }}
    volume =    { {{- .Params.volume -}} },{{ with .Params.issue }}
    issue =     { {{- . -}} },{{ end }}{{ end }}
    pages =     { {{- .Params.pages -}} },
    year =      { {{- .Params.year -}} },
    doi =       { {{- .Params.DOI -}} },
}
	    </code></pre>
	</section>
    </main>
{{ end }}
