{{ define "title" }}
    {{ .Title }}
{{ end }}

{{ define "main" }}
    <main role="main">
	<header>
	    <a href="/">Back Home</a>
	    <h1 id="article-title">{{ .Title }}</h1>
	    <p><a href="http://arxiv.org/abs/{{ .Params.eprint }}"><em>arxiv.org/abs/{{- .Params.eprint -}}</em></a></p>
	</header>
	<section id="abstract">
	    <h2 id="abstract">Abstract</h2>
	    {{ .Content }}
	</section>
	<section id="BibTeX">
	    <h2 id="BibTeX">BibTeX entry</h2>
	    <pre><code>
@article{ {{- .Params.id}},
    title =         { {{ with .Params.textitle }}{{- . -}}{{ else }}{{- .Title -}}{{ end  }} },
    author =        { {{- range $i, $e := .Params.author }}{{if $i}} and {{end}}{{ with .family }}{{- . }}, {{ end }}{{ .given }}{{end -}} },
    eprint =        { {{- .Params.eprint -}} },
    archivePrefix = {arxiv},
    primaryClass =  { {{- .Params.primaryClass -}} },
    year =          { {{- .Params.year -}} }
}
	    </code></pre>
	</section>
    </main>
{{ end }}
